package ${package};

import ch.scaille.tcwriter.examples.websearch.interfaces.dto.*;
import ch.scaille.tcwriter.examples.websearch.interfaces.selectors.*;
import ch.scaille.tcwriter.examples.websearch.interfaces.*;
import ch.scaille.tcwriter.recorder.*;

import org.junit.jupiter.api.BeforeEach;
import org.junit.jupiter.api.Test;

class ${testName} extends AbstractWebSearchTest {

	@Test
	void testCase() {
		${testContent}
	}

}