#status_bar {
	width: 100%;
	position: absolute;
	bottom: 0;
}

#status_bar :is(p, table)   {
	display: inline-block;
	vertical-align: middle;
}

#application_status td {
	padding-left: 5px;
	padding-right: 5px;
	border: 0;
}

.status_available_true {
	background-color: var(--ok-color);
}

.status_available_false {
	color: var(--ko-color-reverse);
	background-color: var(--ko-color);
}

#application_error {
	color: var(--ko-color);
	padding-left: 10px;
}