package ${package};

import java.util.UUID;
${imports}

public class ${flow.name} extends AbstractFlow {

	public ${flow.output} execute(${flow.input} input) {
		${flow.code}
	}
	
	public static void main(String[] args) {
		new ${flow.name}().execute("Hello");
	}

}