		${field.type} ${field.name};

		public ${field.type} get${field.nameCamel}() {
			return ${field.name};
		}

		public void set${field.nameCamel}(${field.type} ${field.name}) {
			this.${field.name} = ${field.name};
		}
	