.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table, th, td, tbody .steps {
	border: 1px solid;
    border-collapse: collapse;
	text-align: left;
}

.NOT_RUN {
	background-color: #6ba5ff;
}

.OK {
	background-color: #78bc0f;
}

.STARTED {
	background-color: rgb(26, 95, 180);
}

.FAILED {
	background-color: #1a0000;
}

.export-popup-content {
	width: 80%; 
	overflow: scroll;
}

