:root {
  --ok-color: #78bc0f;
  --ko-color: darkred;
  --ko-color-reverse: lightgray;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.export-popup-content {
	width: 80%;
	height: 95%;
	overflow: scroll;
}

