{
  "key": "${metadata.key}",
  "name": "${metadata.name}",
  "description": "${metadata.description}",
  "theme": "theme-1",
  "icon": "glyphicon-asterisk",
  "usersAccess": null,
  "groupsAccess": null,
  "flowApp": false,
  "url": null,
  "paletteDefinitionCategory": "work",
  "extension": {
    "design": {
      "childModels": [
#foreach($model in $childModels)
        {
          "key": "${model.key}",
          "type": "${model.type}"
        }#if($foreach.hasNext),#end
#end
      ]
    }
  }
}